<div ng-include src="'static/app/pages/navbar-on.html'"></div> 

<div class="row frm-container" ng-controller="GameEditController as gameEditCtrl">
	<div class="col-md-12">
		<h2 class="edit-title">New Game</h2>
		<div class="form-group">
			<label>Name</label>
			<input type="text" name="gameName" ng-model="gameEditCtrl.game.name" class="form-control">
		</div>
		<div class="form-group">
			<label>Release Date</label>
			<input type="date" name="releaseDate" ng-model="gameEditCtrl.game.release_date" class="form-control date-field">
		</div>
		<div class="form-group">
			<label>Image</label>
			<input id="game-file" type="file" name="file"/>
		</div>
		<div class="form-group">
			<label>Description</label>
			<textarea rows="15" name="gameDescription" ng-model="gameEditCtrl.game.description" class="form-control"></textarea>
		</div>
		<button class="btn btn-default" ng-click="gameEditCtrl.cancel()">Cancel</button>
		<button class="btn btn-default" ng-if="gameEditCtrl.isEdit" ng-click="gameEditCtrl.deleteGame()">Remove</button>
		<button class="btn btn-default" ng-click="gameEditCtrl.saveGame()">Save</button>
		<div id="snackbar">All fields are mandatory.</div>
	</div>
</div>