<!DOCTYPE html>
<html ng-app="e-sports">
  <head>  
    <title>e-Sports Games Catalog</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="/../static/img/favicon.ico">
      <!-- Bootstrap core CSS -->
      <link href="/../static/css/bootstrap.css" rel="stylesheet">
      <!-- Normalize -->
      <link href="/../static/css/normalize.css" rel="stylesheet">
      <!-- Normalize -->
      <link href="/../static/css/loading-bar.css" rel="stylesheet">
      <!-- Custom styles -->
      <link href="/../static/css/style.css" rel="stylesheet">
  </head>
  <body ng-controller="AppController as appCtrl" ng-cloak>      

      <div ng-view></div>

      <script src="/../static/js/facebookOAuth2Start.js"></script>
      <script src="/../static/js/googleOAuth2Start.js"></script>
      <script src="/../static/js/loginHandler.js"></script>
      <script src="https://apis.google.com/js/platform.js?onload=start" async defer></script>
      <script src="/../static/js/angular.js"></script>
      <script src="/../static/js/angular-route.js"></script>
      <script src="/../static/app/app.js"></script>
      <script src="/../static/app/controllers/game-ctrl.js"></script>
      <script src="/../static/app/controllers/gameEdit-ctrl.js"></script>
      <script src="/../static/app/controllers/character-ctrl.js"></script>
      <script src="/../static/app/controllers/characterEdit-ctrl.js"></script>
      <script src="/../static/app/services/game-service.js"></script>
      <script src="/../static/app/services/character-service.js"></script>
      <script src="/../static/app/services/util-service.js"></script>
      <script src="/../static/js/jquery-3.2.1.js"></script>
      <script src="/../static/js/bootstrap.js"></script>
      <script src="/../static/js/loading-bar.js"></script>
  </body>
</html>