<div class="row">
    <div class="col-md-12">
        <h2>Game</h2>
	    <form action="/games/create" method="POST">
			<div class="form-group">
		        <label>Name</label>
		        <input type="text" name="gameName" value="{{game.name}}" class="form-control">
		    </div>	
			<div class="form-group">
		        <label>Description</label>
		        <textarea rows="15" name="gameDescription" class="form-control">{{game.description}}</textarea>
		    </div>
		    <div class="game-error">
                <span class="game-error-text">{{error_message}}</span>
            </div>
            {% if game.name|length > 0 %}
              <input type="hidden" name="update" value="true">
              <input type="hidden" name="id" value="{{game.id}}">
            {% endif %}
            <button type="submit" name="create" class="btn btn-default">Save</button>
            <button type="submit" class="btn btn-default">Cancel</button>
	    </form>
	</div>
</div>