{% extends "base.html" %}

{% block content %}

  <select id="game-select" class="custom-select">
    {% for game in games %}
      <option  value="volvo">{{game['name']}}</option>   
    {% endfor %}
  </select>

  {% if characters %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Release Date</th>
        </tr>
      </thead>
      <tbody>
        {% for game_character in characters %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{game_character['name']}}</td>
            <td>{{game_character['description']}}</td>
            <td>{{game_character['release_date'].strftime('%m-%d-%Y')}}</td>
        {% endfor %}
       </tbody>
    </table>
  {% endif %}

{% endblock %}